.page-header
  %h1 通知先一覧

%table.bordered-table
  %tr
    %th 名前
    %th 通知先
    %th

  - @notice_points.each do |np|
    %tr
      %td
        = np.name
      %td
        = np.email    
      %td
        = link_to "通知先の削除", setting_notice_point_path(@setting, np), :confirm => '削除します。よろしいですか？', :method => :delete
%br
= link_to "通知先の追加", new_setting_notice_point_path
