.page-header
  %h1 登録情報

%table.bordered-table
  %tr
    %th.index_width
      項目
    %th
      内容

  %tr
    %td
      ランチグループ名
    %td
      = @group.name
  %tr
    %td
      住所
    %td
      = @group.setting.area
  %tr
    %td
      通知時刻
    %td
      = @group.setting.notice_at.strftime("%H:%M")
= link_to '登録内容を変更する', edit_group_path(@group)
