.page-header
  %h1
    ランチメールの使い方
.row
  %h2
    STEP1. ユーザー情報の登録
  %p
    右上のユーザ登録ボタンから、メールアドレスとパスワードを登録します。
    Facebookアカウントを使ってログインすることも可能です。
  %h2
    STEP2. ランチ情報の登録
  %p
    会社の住所と、メールを通知したい時刻を登録します。
  %h2
    STEP3. ランチメンバーの登録
  %p
    右上のメンバー登録ボタンから、ランチメンバーの名前とメールアドレスを登録します。
