.page-header
  %h1
    ランチメールの特徴
.row
  %h2
    近所のおすすめ店舗と、一緒にランチに行くメンバーが通知されます
  %p
    設定した通知時刻になると、登録住所から半径３００m圏内にある店舗と、ランチメンバーがメンバー全員にメールで通知されます。
  %h2
    ランチメンバーは毎回ランダムで決定、人数は３〜５人に自動的に振り分けられます
  %p
    ランチメンバーを６人以上登録した場合、全員が３〜４人のグループに自動的に振り分けられます。さらに、そのメンバーは毎回ランダムでグループ分けされます。