.hero-unit
  %h1
    ランチで職場を楽しく！
  %p
    会社勤めの方がランチに行く時の悩みの種（！？）が、「誰と行くか」と「どこに行くか」。その２つを解決できるのが、「ランチメール」アプリ。昼頃の指定した時間になると、一緒にランチに行くメンバーの名前と、近所のおすすめ店がメンバー全員にメールで通知されます。
  %p
    = link_to "特徴", home_feature_path,:class => "btn info large"
    = link_to "使い方", home_case_path,:class => "btn info large"
