.page-header
  %h1 登録情報

%table.bordered-table
  %tr
    %th
      項目
    %th
      内容

  %tr
    %td
      住所
    %td 
      = @setting.area
  %tr    
    %td
      通知時刻
    %td
      = @setting.notice_at.strftime("%H:%M")
  %tr
    %td
      通知
    %td
      = @setting.active
= link_to '登録内容を変更する', edit_setting_path(@setting)
